.wrapper

  = render 'groups/side_bar'

  .chat-side
    .chat-side__header
      .chat-side__header__group
        .chat-side__header__group__name
          test太郎
        .chat-side__header__group__member
          Member :
          .chat-side__header__group__member-user
            test太郎
  
      .chat-side__header__edit__box
        .chat-side__header__edit__box-btn
          Edit

    .chat-side__body
      .chat-side__body__message
        .chat-side__body__message-user
          test太郎
        .chat-side__body__message-daytime
          2019/09/01(sun) 16:07:23
        .chat-side__body__message-text
          Hello World!!

    .chat-side__form
      .chat-side__form__new-message
        .chat-side__form__new-message__text
          type a message
          .chat-side__form__new-message__image
          -# %label.upload-label{for: "upload-icon"}
          -# %i.fa.fa-picture-o
          
        .chat-side__form__new-message__send
          .chat-side__form__new-message__send-btn
            send